<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="form-group row mb-2">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.nombre"
            name="nombre"
            #nombre="ngModel"
          />
          <!-- required minlength="4"  -->
          <div
            class="alert alert-danger"
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
          >
            <div *ngIf="nombre?.errors?.['required']">
              Se requiere un nombre
            </div>
            <div *ngIf="nombre?.errors?.['minlength']">
              El nombre debe tener al menos 4 carácteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.apellido"
            name="apellido"
            #apellido="ngModel"
          />
          <!-- required -->
          <div
            class="alert alert-danger"
            *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
          >
            <div *ngIf="apellido?.errors?.['required']">
              Se requiere un apellido
            </div>
            <div *ngIf="apellido?.errors?.['minlength']">
              El apellido debe tener al menos 4 carácteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.email"
            name="email"
            #email="ngModel"
          />
          <!-- required email -->
          <div
            class="alert alert-danger"
            *ngIf="email.invalid && (email.dirty || email.touched)"
          >
            <div *ngIf="email?.errors?.['required']">Se requiere un email</div>
            <div *ngIf="email?.errors?.['email']">
              El email debe tener un formato válido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input
            matInput
            [matDatepicker]="picker"
            class="form-control"
            [(ngModel)]="cliente.createAt"
            name="createAt"
            style="width: 300px; display: inline"
          />
          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="region" class="col-form-label col-sm-2">Región</label>
        <div class="col-sm-6">
          <select
            [compareWith]="compararRegion"
            class="form-control"
            [(ngModel)]="cliente.region"
            name="region"
            style="width: 500px"
          >
            <option [ngValue]="undefined">- Seleccionar una región -</option>
            <option *ngFor="let region of regiones" [ngValue]="region">
              {{ region.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            *ngIf="!cliente.id; else elseBlock"
            [disabled]="!clienteForm.form.valid"
          >
            Crear
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()">
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
